<launch>
  <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager"  args="manager" />
  <node pkg="nodelet" type="nodelet" name="image_proc_fisheye" args="load image_proc_fisheye/RectifyNodelet camera_nodelet_manager" output="screen">
    <remap from="camera_info" to="/usb_cam/camera_info" />
    <remap from="image_raw" to="/usb_cam/image_raw" />
    <remap from="image_rect" to="/usb_cam/image_rect" />
  </node>
</launch>
